<header class="p-4 mb-4 bg-light rounded-3">
  <h1 data-test="welcome">{{ welcomeMsg }}</h1>

  <p data-test="total" i18n="@@Basket.Amount">Votre panier s'élève à {{ basketTotal$ | async | currency: 'EUR' }}</p>

  <p class="mb-0">
    <a data-test="goToBasket" class="btn btn-primary btn-large" [routerLink]="['/basket']" i18n="@@Action.GotoBasket"
      >Voir mon panier</a
    >
  </p>
</header>

<h2 class="h4" i18n="@@Catalog.Title">Catalogue</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
  @for (product of products$ | async; track product.id) {
    @if (isAvailable(product)) {
      <app-product
        [@flip]="product.stock === 1"
        @disappear
        data-test="product"
        class="col"
        [product]="product"
        (addToBasket)="addToBasket($event)"
      />
    }
  }

  @if (isStockEmpty$ | async) {
    <div @appearWithDelay class="col text-secondary" i18n="@@Catalog.Empty">Désolé, notre stock est vide !</div>
  }
</div>
